<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--image gallery from device-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let file of fileHandler.fileinfo">
        <ion-card *ngIf="file.tipo == 'video' " (click)="startVideo(this.env.API_URL + 'files/' + file.path)">
          <ion-card *ngIf="file.tipo == 'image' " (click)="">
          <img [src]="'this.env.API_URL + 'files/' + file.path" />
          <ion-card-header>
             <ion-card-title>{{file.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-content>

<!--local playing options-->
<ion-content class="ion-padding">
  <button ion-button block (click)="startAudio(link)">Start Audio</button>
  <button ion-button block (click)="stopAudio()">Stop Audio</button>
</ion-content>
