<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--upload option-->
<ion-content>
    <ion-button (click)="fileHandler.uploadFile(fileHandler.filename,fileHandler.returnpath,'http://192.168.56.1/files')" expand="full">Upload File</ion-button>
</ion-content>


<!--file choosing section-->
<ion-content>
  <div class="ion-padding">
    <ion-button (click)="fileHandler.chooseFile()" expand="full">Choose File</ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>